.container{
    max-width: 1200px;
    margin: 0 auto; 
  }
  .menu {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
  }

.menu-flex {
  display: flex;
  align-items: center;
}

.menu-column {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
}

.menu-column.menu-second-column {
  justify-content: flex-end;
}

.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 10px; 
}

.menu-nav ul li a {
  text-decoration: none;
  color: #585e65;
}

.menu-link-button {
  text-decoration: none;
  height: 48px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
} 
.products-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
body{
    background-color: #f5f5f5;
}
.product{
    list-style: none;
}
.product a{
    text-decoration: none;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.product-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.product{
    border-radius:6px;
    max-width: 24%;
    background-color: #fff;
    margin: 5px;
    
}
img{
    display: block;
    width: 80%;
    margin:auto;
    height: 180px;
    padding: 25px;
}
.product-description{
    padding: 15px;
    font-style: bold;    
}

.product-description p{
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;    
}
.add-button{
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color:#4c6ef5;
    color: white;
    padding:15px; 
}
button:hover{
    cursor: pointer;    
}